@{
    ViewBag.Title = "Todo";
}

@section scripts{
    <script src="~/Scripts/todo.ko.js" type="text/javascript"></script>
}

<h2>Todo by Knockout.js</h2>

<div>
    <ul data-bind="foreach: todoList">
        <li>
            <span data-bind="if: done">済:</span>
            <span data-bind="text: summary"></span>
        </li>
    </ul>
</div>